*{
    box-sizing: border-box;
}

/* font-family: 'Quattrocento', serif; */

html, body{
    width: 100% !important;
    min-width: 100%;
    height: auto;
    padding: 0px !important;
    margin: 0px !important;
}

h1, h2, h3, h4, h5, .btn{
    font-family: 'Oswald', sans-serif;
}

.wb-menu-container{
    width: 100%;
    height: 75px;

    background-color: #2c2c2cdb;
    color: #9cc4e3;

    padding-left: 3em;
    padding-right: 3em;

    font-family: 'Oswald', sans-serif;

    display: flex;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
}

#openMenu{
    display: block;
    margin: 0px !important;
    text-align: right;
    top: 25px;

    position: fixed;
    top: 1em;
    right: 3em;
}

    .wb-menu{
        left: -280px;
        position: fixed;
        width: 280px;
        height: 100%;
        top: 75px;
        padding: 15px 15px 15px 3em;
        background-color: #2c2c2cdb;
        margin: 0;
        transition: 0.5s all ease-in;
    }
    .wb-menu li a,
    .wb-menu li a:active,
    .wb-menu li a:visited{
        text-decoration: none;
        color: #FFF;
    }

    .wb-menu.active{
        left: 0;
        transition: 0.5s all ease-out;
    }

    .wb-menu li{
        display: block;
        list-style-type: none;
        padding: 5px 8px;
    }

h1{
    font-size: 2em;
    color: #FFF;
    display: inline-block;
}
    h1 a,
    h1 a:active,
    h1 a:visited{
        color: #FFF;
        text-decoration: none;
    }

#home{
    width: 100%;
    height: 100vh;

    /* padding: 25px 15px 25px 15px; */
    background-color: #a1d2d9;
    font-family: 'Quattrocento', serif;
    color: #FFF;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;

    background: url('images/home.jpg') no-repeat fixed center / cover
}
    #home div{
        margin: 2em;
        width: 80%;
        margin: auto;
    }

    #home h2{
        font-size: 1.8em;
        margin: 0;
    }

    #home span{
        font-size: 1.2em;
    }

.btn{
    padding: 0.8em 1.2em;
    
    border: 1px solid #FFF;
    border-radius: 2px;
    
    text-decoration: none;
    color: #FFF;

    transition: 0.2s ease-in;

    /* margin: 1.5em 0.8em; */
}

    .btn:hover{
        color: #a1a1a1;
        background-color: #FFF;

        transition: 0.3s ease-out;
    }

#projetos{
    width: 100%;
    height: 75vh;

    overflow: hidden;

    /* padding: 15px; */

    background-color: #2c2c2ca5;

    color: #FFF;
    font-family: 'Quattrocento', serif;
    position: relative;
}
    .projeto{
        width: 100%;
        height: 100%;

        position: absolute;

        opacity: 0;
        transition: all 0.5s ease-out;

        display: flex;
    }
        .projeto.active{
            transition: all 0.5s ease-in;
            opacity: 1 !important;
            z-index: 9999;
        }

        .projeto .info{
            width: 40%;
            height: 100%;

            padding: 25px;
        }

            .projeto h2{
                margin: 0;
            }

        .projeto .image{
            width: 60%;
            height: 100%;

            background-color: #FFF;
            overflow: hidden;
        }
            .image img{
                width: auto;
                height: 100%;
            }

        @media (max-width: 680px){
            .projeto .info{
                width: 60%;
            }
            .projeto .image{
                width: 40%;
            }
        }
#artigos{
    width: 100%;
    height: auto;

    padding: 25px 15px 25px 15px;
    margin: 0px;

    background-color: #a1d2d9;

    font-family: 'Quattrocento', serif;
    color: #FFF;
}
    #artigos h2{
        font-size: 1.8em;
        margin: 0;
        text-align: center;
    }

    .artigos-container{
        width: 80%;
        height: auto;
        margin: auto;
        display: flex;
        /* justify-content: space-between; */
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

    }
        .artigo{
            /* width: 20%; */
            border: 1px solid #9cc4e3c2;
            box-shadow: 2px 2px 2px 3px rgba(0,0,0,0.2);
            background-color: #FFF;
            flex-basis: 30%;
            /* flex-wrap: wrap; */
            margin: 10px auto;
        }

        @media (max-width: 860px){
            .artigo{
                width: 100%;
                flex-basis: 100%;
            }
        }

        .artigo a,
        .artigo a:active,
        .artigo a:visited{
            text-decoration: none;
        }
            .artigo img{
                width: 100%;
                height: auto;
            }

            .artigo header{
                width: 100%;
                padding: 0.2em;
                text-align: center;
            }
                .artigo header h3{
                    font-size: 1.4em;
                    color: #9cc4e3;
                    margin: 0;
                }
            .artigo p{
                color: #2c2c2cdb;
                padding: 0.5em;
            }

#empregos{
    width: 100%;
    height: auto;

    padding: 25px 15px 25px 15px;
    margin: 0px;

    background-color: #2c2c2cdb; /* 033866;*/

    font-family: 'Quattrocento', serif;
    color: #FFF; 
}
    #empregos h2{
        font-size: 1.8em;
        margin: 0;
        text-align: center;
    }

    #empregos .empregos-container{
        display: flex;
        /* justify-content: space-between; */
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 80%;
        margin: auto;
    }

    .emprego{
        width: 70%;
        border: 1px solid #9cc4e3c2;
        box-shadow: 2px 2px 2px 3px rgba(0,0,0,0.2);
        background-color: #FFF;
        /* margin: 10px auto; */
        color: #2c2c2c4e;
        margin-top: 25px;
        padding: 15px;
        /* align-self: flex-end; */
        /* display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;  */
    }

    @media (max-width: 860px){
        .emprego{
            width: 100%;
        }
    }
        .emprego.esquerda{
            align-self: flex-start;
        }
        .emprego.direita{
            align-self: flex-end;
        }


#equipe{
    width: 100%;
    height: auto;
    padding: 25px 15px 25px 15px;
    margin: 0px;
    font-family: 'Quattrocento', serif;
}
    #equipe h2{
        font-size: 1.8em;
        margin: 0;
        text-align: center;
        color: #2c2c2c4e;
    }

    #equipe strong{
        color: #2c2c2c;
    }

    .equipe-container{
        width: 80%;
        height: auto;
        margin: auto;

        display: flex;
        /* justify-content: space-between; */
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .equipe .img{
        width: 200px;
        height: 200px;

        border-radius: 361px;
        border: 1px solid #9cc4e3;
        
        overflow: hidden;

        margin: auto;
    }
        .equipe img{
            width: auto;
            height: 100%;
        }

    .equipe{
        flex-basis: 25%;
        margin: 10px auto;
        /* border: 1px solid #9cc4e3; */
    }

    .equipe strong{
        font-size: 1.2em;
        font-family: 'Oswald', sans-serif;
    }

    .equipe ul{
        padding: 0;
        margin: 0;
    }

    .equipe ul li{
        list-style-type: none;
    }

    @media (max-width: 860px){
        .equipe{
            width: 100%;
            flex-basis: 100%;
        }
    }

#contato{
    display: flex;
    width: 100%;
    height: auto;

    padding: 25px;

    background-color: #2c2c2ca5;
    color: #FFF;

    font-family: 'Quattrocento', serif;
}
    #contato div{
        width: 50%;
    }

    #contato ul{
        margin: 0;
        padding: 0;
    }
    .menuContato li{
        list-style-type: none;
        font-size: 1.2em;
        padding: 5px 0px;
    }
        .menuContato li i{
            margin-right: 15px;
        }
    .menuSocial{
        margin-top: 15px !important;
    }
    .menuSocial li{
        display: inline-block;
    }
        .menuSocial a,
        .menuSocial a:active,
        .menuSocial a:hover,
        .menuSocial a:visited{
            text-decoration: none;
            color: #FFF;
            font-size: 1.5em;
        }
    
    #contato form{
        width: 100%;
        padding: 0;
        margin: 0;
    }
        #contato form .flexInput{
            display: flex;
            width: 100%;
            padding: 0;
            margin: 0;
        }

    #contato input[type="text"]{
        width: 50%;
        height: 4em;
        margin: 0 5px 5px;
        font-family: 'Oswald', sans-serif;
        padding-left: 15px;
        color: #2c2c2c4e;
        border: 1px solid #9cc4e3;
        /* border-color: #9cc4e3; */
    }

    #contato textarea{
        width: 100%;
        display: block;
        margin: 5px;
        height: 8em;
        font-family: 'Oswald', sans-serif;
        color: #2c2c2c4e;
        padding: 15px 10px;
        border: 1px solid #9cc4e3;
    }

@media screen and (max-width: 720px){
    #contato{
        display: block;
    }
    #contato div{
        width: 100%;
    }
}

footer{
    height: 2em;
    width: 100%;

    background-color: #2c2c2cdb; /* rgba(0, 0, 0, 0.85);
    /* border-bottom: 2px solid #FFF; */
    color: #FFF;

    padding: 0.2em 1em;

    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    text-align: center;
}